ADF Pipeline/pipeline/SQL Server to Bronze.json
{
	"name": "SQL Server to Bronze",
	"properties": {
		"activities": [
			{
				"name": "Table Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data from OnPrem to Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Table Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Last Load Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT * FROM ',\n    activity('Table Lookup').output.value[0].tables[0].schema_name,\n    '.',\n    activity('Table Lookup').output.value[0].tables[0].table_name,\n    ' WHERE last_updated_ts > ''',\n    activity('Last Load Lookup').output.value[0].lastload,\n    ''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTables",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "rawdatacsv",
						"type": "DatasetReference",
						"parameters": {
							"DateFolder": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
							"FileName": {
								"value": "@concat( activity('Table Lookup').output.value[0].tables[0].table_name, '.csv' )\r\n\r\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Last Load Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-02T22:10:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}